<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suppuration.erodeblade"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/app_icon_release"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.suppuration.erodeblade.ElbionActivity"
            android:screenOrientation="portrait"
            android:icon="@mipmap/app_icon_release"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            android:launchMode="singleTop" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.suppuration.erodeblade" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>
